<div class="landing-page">
    <nav>
      <div class="logo">&lt;/&gt;</div>
      <ul>
        <li><a href="#">Ranking</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Comparacion</a></li>
      </ul>
    </nav>

    <section class="hero">
      <div class="hero-content">
        <h1>Code.<br>dev</h1>
        <button class="cta-button">más ↓</button>
      </div>
      <div class="hero-image">

        <img [src]="dev[0].imagen" alt="Imagen" />

      </div>
    </section>

    <section class="dashboard-preview">
      <img [src]="dev[1].imagen" alt="Dashboard" />
    </section>

    <section class="info-section">
      <h2>Descubre el Futuro de la Web con Nosotros</h2>
      <div class="info-columns">
        <p>
          En un mundo digital en constante evolución, las tecnologías web son el motor que impulsa la
          innovación y la eficiencia. En nuestra plataforma, transformamos ideas en realidades interactivas
          y funcionales, creando experiencias web personalizadas y de alto rendimiento.
        </p>
        <p>
          Ya sea que busques desarrollar una aplicación web robusta, optimizar tu e-commerce, o crear
          una presencia digital poderosa, nuestro equipo de expertos está aquí para ayudarte a dar el
          siguiente paso en tu transformación digital.
        </p>
      </div>
      <p>
        Desde el diseño hasta la implementación, utilizamos las últimas tecnologías para garantizar que
        tu proyecto no solo se vea increíble, sino que también ofrezca un rendimiento excepcional en
        cualquier dispositivo.
      </p>
      <p>
        Empieza hoy a construir el futuro de tu negocio con soluciones web a la medida.
      </p>
    </section>

    <footer>
      <div class="footer-content">
        <p>Redes sociales</p>
        <div class="social-icons">
          <a href="#" class="icon-facebook"></a>
          <a href="#" class="icon-instagram"></a>
          <a href="#" class="icon-github"></a>
        </div>
      </div>
      <div class="footer-text">
        <p>© 2024 code.dev. Todos los derechos reservados.</p>
        <p>Este sitio web y su contenido son propiedad exclusiva de code.dev. Queda prohibida la reproducción total o parcial de cualquier material, incluidos textos, imágenes, diseño y código, sin el consentimiento expreso por escrito de code.dev. Las marcas, logotipos y nombres comerciales mencionados en este sitio están protegidos por las leyes de propiedad intelectual. code.dev se reserva el derecho de realizar cambios en la información y los servicios ofrecidos en cualquier momento, sin previo aviso.</p>
      </div>
    </footer>
  </div>
